<!DOCTYPE html>
<html>
  <head>
    <title>MusicDbRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<body>

	<%= link_to 'Categories', categories_path %> |
	<%= link_to 'Songs', songs_path %> |
	<%= link_to 'Docs', docs_path %> |
	<%= link_to 'Collections', collections_path %> |
	<%= link_to 'Resources', resources_path %>
	<br/>
    <%= yield %>
  </body>
</html>
